<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "2.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Lyrcs</name>

  <description>
      Música Cristiana.
  </description>

  <icon src="icon.png"/>

  <author href="https://masdetres.com.ar" email="support@phonegap.com">
      Nicolas Pintos
  </author>

</widget>