<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.masdetres.lyrcs"
    versionCode = "20"
    version     = "1.0.2" >

<!-- versionCode is optional and Android only -->

  <name>Lyrcs</name>

  <description>
	Letras cristianas para alabar.      
  </description>

  <icon src="icon.png"/>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Nicolas Pintos
  </author>

</widget>